<<<<<<< HEAD
/* CSS pour un en-tête */
h1 {
    color: #333333;
    text-align: center;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* CSS pour un paragraphe */
p {
    color: #666666;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

/* CSS pour un lien */
a {
    color: #0066cc;
    text-decoration: none;
    margin-top: 20px;
}
=======
body {
    background-image: url("../images/index/arcade entiers.jpg"); 
}

canvas {
    display: block;
    margin: 190px auto 0; 
    border: 10px solid #e0dfdf;  
}
>>>>>>> dylan
