@font-face {
    font-family: "Pixel";
    src: url(../css/AwfullyDigital.woff) format("woff");
}

canvas {
    display: block;
    margin: 270px auto 0; 
    border: 10px solid black;
    background-image: url('../images/snake/rock.jpeg');
   
}


#score {
    font-size: 250%;
    color: #d5ff01;
    font-family: "Pixel";
    position: absolute;
    bottom: 640px;
    right: 850px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    background-image: url("../images/index/arcade entiers.jpg"); 
}

