@font-face {
    font-family: "Pixel";
    src: url(../css/AwfullyDigital.woff) format("woff");
}

canvas {
    display: block;
    margin: 270px auto 0; 
    margin-top: 13%;
    margin-right: 28%;
    border: 10px solid black;
    background-image: url('../images/snake/rock.jpeg');
}


#score {
    font-size: 250%;
    color: #d5ff01;
    font-family: "Pixel";
    position: absolute;
    bottom: 500px;
    right: 675px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    font-family: "Pixel";
    background-color: #24292e;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
  }

  #buttons-container {
    position: absolute;
    right: 700px; 
    bottom: 120px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#muteButton {
    position: absolute;
    top: 10px; 
    left: 10px; 
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
